@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
  text-decoration: none !important;
}

.nav-links {
  cursor: pointer;
}

#book-list,
#form,
#contact {
  display: none;
}

#book-list.active,
#form.active,
#contact.active {
  display: block;
}

#book-list-container{
  height: 65vh;
  overflow-y: auto;
}