@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
  text-decoration: none !important;
}

.nav-links {
  cursor: pointer;
}
/* .nav-links:hover {
  color: red ;
} */
#book-list.active,
#form,
#contact {
  display: none;
}

#book-list,
#form.active,
#contact.active {
  display: block;
}

#book-list-container{
  height: 63.5vh;
  overflow-y: auto;
}
@media screen and (min-width: 1200px) {
  #book-list-container{
    height: 67.5vh;
  }
}