  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Comic Neue', cursive;
  /* list-style: none; */
  text-decoration: none !important;
}

#book-list{
  display: none;
}
#form{
  display: none;
}